@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dataTable-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5px;
  }
  @media (max-width: 720px){
    .dataTable-top{
      width: 675px;
    }
  }
  .dataTable-search {
    display: flex;
    float: none;
    justify-content: end;
    width: 50%;
  }
  .dataTable-dropdown{
    width: 50%;
  }
  .dataTable-selector {
    padding-right: 24px;
    width: 300;
    background-position-x: 2em; 
  }